body {
    background: linear-gradient(-45deg, #070872, #653b88, #690650, #0665b3, #09c9e2);
    background-size: 400% 400%;
    animation: gradient 9s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
.instructions {
margin-top: 40px;
border: 1px solid darkslategrey;
border-radius: 5px;
width: 800px;

background-color: white;
height: 900px;
padding: 40px;
margin-bottom: 40px;
}
.instructions h1{
    text-align: center;
    color: #629a89;
    font-family: "Times New Roman", Times, serif;
    padding-bottom: 10px;
}
.p1{
    color: #3c235d;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    font-size: 20px;
}
.instructions ul{
    color: #3c235d;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    font-size: 20px;
}

h2{
    color: #629a89;
    display: inline-block;
}
.exm{
    color: #3c235d;
    font-size: 20px;
   
    text-decoration: none;
}
.exm :hover{
    color: #daceeb;
}
