  :root{
  --violete: rgb(55, 2, 104)
  }

  .link{
    margin-top: 15px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 7px;
    border-radius: 3px;
    text-align: left;
    
  }

#link{
    margin-right: 90px;
  }

header{
    display: flex;
    justify-content: center;
    
    width: 100%;
    height: 70px;
    background-color:var(--violete) ;  
}

  Button{
    background-color: var(--violete);
    border: 3px solid rgb(255, 255, 255);
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 15px;
    padding: 5px;
  }

  #link_btn1, #link_btn2{
    margin-top: 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-right: 15px;
  }

  #link_btn1{
    margin-left: 300px;
  }
  
  .logo-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 50px;
  }

  .logo-container img {
    width: 80px;
    height: 80px;
  }

  .logo-container{
    padding: 0;
    margin-left: 0;
    
  }   

  .link:hover{
    transition: all 0.3s ease-in-out;
    background-color: white;
    color:var(--violete) ;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  Button:hover{
    transition: all 0.4s ease-in-out;
    background-color: white;
    border: 3px solid rgb(255, 255, 255);
    font-weight: bolder;
    color:var(--violete) ;
    border-radius: 20px;
  }

  

  